:root {
  --color-surface:  #4aa2b8;
  --color-on-surface: #eeeeee;
  --color-primary: #eeeeee;
  --color-on-primary: #111111;
  --color-button: #cccccc;
  --color-button-hover: #dddddd;
  --color-button-active: #eeeeeee;
  --color-accent: #8f6ba8;
}